/* Add a dark grey background to the top navigation bar */
.topnav {
    background-color: #2f4f4f; /* Dark grey */
    overflow: hidden;
}

/* Style the links inside the nav bar */
.topnav a {
    float: none;
    color: #dcdcdc; /* Light grey */
    text-align: center;
    padding: 14px 25px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of the links on hover */
.topnav a:hover {
    background-color: #696969; /* Dim grey */
    color: white;
}

/* Add color to the active/current link */
.topnav a.active {
    background-color: #696969; /* Dim grey */
    color: white;
}
