/* Add a dark purple background to the top navigation bar */
.topnav {
    background-color: #4b0082; /* Dark purple */
    overflow: hidden;
}

/* Style the links inside the nav bar */
.topnav a {
    float: none;
    color: #f2f2f2; /* Light gray */
    text-align: center;
    padding: 14px 25px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of the links on hover */
.topnav a:hover {
    background-color: #9370db; /* Medium purple */
    color: white;
}

/* Add color to the active/current link */
.topnav a.active {
    background-color: #9370db; /* Medium purple */
    color: white;
}
